body{
    background-color: black;

}

.container{
    background-image: url("pink dust.png");

}
.jumbotron{
    background-color: #454545;
    font-family: 'Righteous', cursive;
    color: #ff5052;
    text-shadow: 4px 4px 8px #008070;
    border-radius: 30px;

}
.panel-body{
    background-color: #454545;
    font-family: 'Raleway', sans-serif;
    color: #ff5252;
}
button {
  display: inline-block;
  padding: 15px 25px;
  font-size: 20px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  outline: none;
  color: black;
  background-color:#ff5052;
  border: none;
  border-radius: 15px;
  box-shadow: 0 5px #999;
}
button:hover {background-color: #008070}

button:active {
  background-color: #008070;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}